@page "/Branches"
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject IUnitOfWork _IUnitOfWork
@inject NavigationManager _NavigationManager

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <button @onclick="CreateBranch" class="btn btn-primary form-control">Add New Branch </button> <!-- href="branch-create" -->
    </div>
    <div class="col-12 p-3">
        @if(Branches == null)
        {
            <span>Loading....................................................</span>
        }

        else if (Branches.Count == 0)
        {
            <span>No Branches Found !</span>

        }

        else
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var branch in Branches)
                    {
                        <tr>
                            <td>
                                @branch.Name
                            </td>
                            <td>
                                <NavLink href="@($"branch/edit/{branch.Id}")" class="btn-primary btn">Edit</NavLink>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
@code {

    public List<Branch?> Branches = null;

    protected override async Task OnInitializedAsync()
    {
        Branches = await _IUnitOfWork.Branches.GetAllAsync();
    }

    private void CreateBranch()
    {
        _NavigationManager.NavigateTo("/branch-create");
    }

}
