<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ReceiptVoucher</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

      
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Branches">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> الفروع
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Project">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> المشاريع
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SubProject">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> المشاريع الفرعيه
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Receipt">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> السندات
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CompanyInfo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> معلومات الشركه
            </NavLink>
        </div>

        

    </nav>
</div>

