



@inject IJSRuntime JSRuntime


<h1 style="margin-right:50px;margin-top:50px">Welcome to Receipt Print Page @RecId !</h1>


@code {

    [Parameter]
    public int? RecId { get; set; }

    public async Task PrintPreview()
    {
        await JSRuntime.InvokeVoidAsync("print");
    }

}




