@page "/home"
@using System.Security.Claims
@* @rendermode InteractiveAuto *@
@rendermode @(new InteractiveServerRenderMode(false) )


@* @attribute [Authorize] *@

@inject ReceiptVoucher.Client.Services.IAuthService _IAuthService

<PageTitle>Makarim</PageTitle>


<br />
<!--اسم الصفحه-->
<p style=" margin-bottom:2% ;">
        <b style="color:dodgerblue;font-size:xx-large">|</b>
    <span class="mainTitle">
        <MudIcon Icon="@Icons.Material.Filled.Home" Size="Size.Large" Style="color:#566D7E ;margin-bottom:2px" />
        الصفحة الرئيسية
    </span>
</p>


<ChartReports/>
    



@code {

    private string userRole = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        await _IAuthService.CheckIfNotAdminRedirectToLoginAsync();
    }


}