@page "/"
@rendermode InteractiveAuto
@inject HttpClient Http

<PageTitle>Makarim</PageTitle>

<br />
<!--اسم الصفحه-->
<p style=" margin-bottom:2% ;">
        <b style="color:dodgerblue;font-size:xx-large">|</b>
    <span class="mainTitle">
        <MudIcon Icon="@Icons.Material.Filled.Home" Size="Size.Large" Style="color:#566D7E ;margin-bottom:2px" />
        الصفحة الرئيسية
    </span>
</p>

<ReceiptVoucher.Client.Pages.AuthenticationPages.AuthenticationButton />

<ChartReports/>